@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Inter";
}
.stylish-font {
  font-family: "Playwrite NZ Basic";
  font-optical-sizing: auto;
  font-style: normal;
}

/* input[type=number]::-webkit-inner-spin-button, */
/* input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
.outfit{
    font-family: Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

/* ::-webkit-scrollbar{
  display: none;
} */

@media(max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
}


.s{
  color:#ea0f0f;
  color:rgba(red, green, blue, alpha);
}